@model VirtualAdvocate.Models.DocumentDetail

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layoutmain.cshtml";
}

<h2>Details</h2>

<div>
    <h4>DocumentDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Vendor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vendor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Purpose)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Purpose)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateHanded)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateHanded)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateToBeSubmitted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateToBeSubmitted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RejectionReason)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RejectionReason)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DocumentDetailsStatu.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DocumentDetailsStatu.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FilledTemplateDetail.FilledTemplateName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FilledTemplateDetail.FilledTemplateName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
