
@{
    ViewBag.MenuActive = "MultipleDownload";

    Layout = "~/Views/Shared/_Layoutmain.cshtml";
}


<h2>PREVIEW DOCUMENT</h2>
<div class="row">
    <div class="col-lg-6">
        <div class="form-group">
            <b>Selected Customer Names:</b> @ViewBag.MultiName<br />

        </div>

    </div>
</div>
<script type="text/javascript" src="~/Scripts/jquery.min.js"></script>
@*<script type="text/javascript" src="~/Scripts/lib-UI-jquery-js-jquery-ui-1.9.2.custom.min.js"></script>*@
<script src="~/Scripts/jquery-ui1.9.1.js"></script>

@using (Html.BeginForm("FormsConfirmation", "MultipleDocumentDownload", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-lg-12 doc-height">
            <div class="well bs-component">
                <input type=hidden name="customerId">
                @Html.Raw(@ViewBag.WordContent)
            </div>
        </div>
    </div>

    <div id="spinner"><i class="fa fa-4x fa-spinner fa-spin "></i>Please wait..</div>
    <div class="row">
        <div class="col-lg-12">
            <div class="col-md-1">
                <input type="submit" class="btn btn-default" value="Submit" id="btnSubmit" />

            </div>
            <div class="col-md-1"><button type="button" value="Edit" class="btn btn-cancel" id="btnedit" onclick="location.href='@Url.Action("CreateDynamicForm","MultipleDocumentDownload",new { id=Session["CurrentTempAId"]})'">Edit</button></div>
            @*<div class="col-md-1">
                    <button type="button" value="Cancel" class="btn btn-cancel" id="btncancel" onclick="location.href='@Url.Action("SearchTemplate","DocumentManagement", new { id = Convert.ToInt32(Session["OrgId"]) })'">Cancel</button>
                </div>*@
        </div>
    </div>

}
@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootbox")
    <script type="text/javascript">

        $("#clouse1").draggable();

        $("#row").droppable({
            accept: "#clouse1",
            drop: function (event, ui) {
                var droppable = $(this);
                var draggable = ui.draggable;
                // Move draggable into droppable
                draggable.appendTo(droppable);
                draggable.css({ top: '0px', left: '0px' });
            }
        });

        $("#clouse2").draggable();

        $("#row").droppable({
            accept: "#clouse2",
            drop: function (event, ui) {
                var droppable = $(this);
                var draggable = ui.draggable;
                // Move draggable into droppable
                draggable.appendTo(droppable);
                draggable.css({ top: '0px', left: '0px' });
            }
        });

        $('form').submit(function (e) {
            var currentForm = this;
            e.preventDefault();


            //if ( confirm("Are you sure to delete"))
            //    return true;
            //else{
            //    event.preventDefault();
            //    return false;
            //}


            bootbox.confirm({
                title: 'Document ',
                message: "Are You Sure Want to Submit? After That You Can't Edit The Field Values",
                buttons: {
                    'cancel': {
                        label: 'No',
                        className: 'btn-cancel pull-left'
                    },
                    'confirm': {
                        label: 'Yes',
                        className: 'btn-default pull-right'
                    }
                },
                callback: function (result) {
                    if (result) {
                        showProgress();
                        currentForm.submit();

                        //return true;
                        //document.form.action = "FormsConfirmation";
                        //document.form.submit();

                    }

                }
            });


        });


        var spinnerVisible = false;
        function showProgress() {
            if (!spinnerVisible) {
                $("div#spinner").fadeIn("fast");
                spinnerVisible = true;

            }
        };
        function hideProgress() {
            if (spinnerVisible) {
                var spinner = $("div#spinner");
                spinner.stop();
                spinner.fadeOut("fast");
                spinnerVisible = false;
            }
        };
    </script>

}
