
<!DOCTYPE html>
<html>

<body>
    <div class="divElementSet">
        <div class="form-group">           
            @if (@ViewBag.Item1 != null && @ViewBag.Item1 != "")
            {
            <b>@ViewBag.Item1</b> @ViewBag.Value1<br />
            }
@if (@ViewBag.Item2 != null && @ViewBag.Item2 != "")
{
            <b>@ViewBag.Item2</b> @ViewBag.Value2<br />
}
@if (@ViewBag.Item3 != null && @ViewBag.Item3 != "")
{
            <b>@ViewBag.Item3</b> @ViewBag.Value3<br />
}
@if (@ViewBag.Item4 != null && @ViewBag.Item4 != "")
{
            <b>@ViewBag.Item4</b> @ViewBag.Value4<br />
}

            <div class="col-lg-2">
            </div>
        </div>
    </div>






   
            
         
</body>
</html>

