@model IEnumerable<VirtualAdvocate.Models.ViewLogRegistration_Result1>
@{
    ViewBag.MenuActive = "RegistrationLog";
    Layout = "~/Views/Shared/_Layoutmain.cshtml";
}

<h2>User Log Details</h2>
<hr />
<div class="row">
    <div class="col-lg-12">
        <div class="well bs-component">
            <fieldset>
              
                <div class="row">
                    @{
                        int rowNo = 0;
                        var msg = "";
                    }
                    @foreach (var item in Model)
                    {
                        rowNo = rowNo + 1;
                        if (item.IsEnabled == true)
                        {
                            msg = "Enabled";
                        }
                        else
                        {
                            msg = "Disabled";
                        }

                        if (rowNo == 1)
                        {
                            <fieldset>
                                <legend>Current Values</legend>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        @Html.Label("Date", new { @class = "col-lg-6 control-label" })
                                        <div class="col-lg-6">
                                            <label class="editable-content col-lg-12">@item.ModifiedDate.ToString()</label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.Label("First Name", new { @class = "col-lg-6 control-label" })
                                        <div class="col-lg-6">
                                            <label class="editable-content col-lg-12">@item.FirstName</label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.Label("Email Address", new { @class = "col-lg-6 control-label" })
                                        <div class="col-lg-6">
                                            <label class="editable-content col-lg-12">@item.EmailAddress</label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.Label("Role", new { @class = "col-lg-6 control-label" })
                                        <div class="col-lg-6">
                                            <label class="editable-content col-lg-12">@item.RoleDescription</label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.Label("Organization", new { @class = "col-lg-6 control-label" })
                                        <div class="col-lg-6">
                                            <label class="editable-content col-lg-12">@item.orgName</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        @Html.Label("Action", new { @class = "col-lg-6 control-label" })
                                        <div class="col-lg-6">
                                            <label class="editable-content col-lg-12">@item.Action</label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.Label("Last Name", new { @class = "col-lg-6 control-label" })
                                        <div class="col-lg-6">
                                            <label class="editable-content col-lg-12">@item.LastName</label>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.Label("Modifier", new { @class = "col-lg-6 control-label" })
                                        <div class="col-lg-6">
                                            <label class="editable-content col-lg-12">@item.ModifierName</label>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.Label("Street", new { @class = "col-lg-6 control-label" })
                                        <div class="col-lg-6">
                                            <label class="editable-content col-lg-12">@item.StreetName</label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.Label("Building Name", new { @class = "col-lg-6 control-label" })
                                        <div class="col-lg-6">
                                            <label class="editable-content col-lg-12">@item.BuildingName</label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.Label("Plot No", new { @class = "col-lg-6 control-label" })
                                        <div class="col-lg-6">
                                            <label class="editable-content col-lg-12">@item.PlotNumber</label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.Label("IsEnabled", new { @class = "col-lg-6 control-label" })
                                        <div class="col-lg-6">
                                            <label class="editable-content col-lg-12"> @msg</label>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        }
                        if (rowNo == 2)
                        {
                            <fieldset>
                                <legend>Original Values</legend>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        @Html.Label("Date", new { @class = "col-lg-6 control-label" })
                                        <div class="col-lg-6">
                                            <label class="editable-content col-lg-12">@item.ModifiedDate.ToString()</label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.Label("First Name", new { @class = "col-lg-6 control-label" })
                                        <div class="col-lg-6">
                                            <label class="editable-content col-lg-12">@item.FirstName</label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.Label("Email Address", new { @class = "col-lg-6 control-label" })
                                        <div class="col-lg-6">
                                            <label class="editable-content col-lg-12">@item.EmailAddress</label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.Label("Role", new { @class = "col-lg-6 control-label" })
                                        <div class="col-lg-6">
                                            <label class="editable-content col-lg-12">@item.RoleDescription</label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.Label("Organization", new { @class = "col-lg-6 control-label" })
                                        <div class="col-lg-6">
                                            <label class="editable-content col-lg-12">@item.orgName</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        @Html.Label("Action", new { @class = "col-lg-6 control-label" })
                                        <div class="col-lg-6">
                                            <label class="editable-content col-lg-12">@item.Action</label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.Label("Last Name", new { @class = "col-lg-6 control-label" })
                                        <div class="col-lg-6">
                                            <label class="editable-content col-lg-12">@item.LastName</label>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.Label("Modifier", new { @class = "col-lg-6 control-label" })
                                        <div class="col-lg-6">
                                            <label class="editable-content col-lg-12">@item.ModifierName</label>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.Label("Street", new { @class = "col-lg-6 control-label" })
                                        <div class="col-lg-6">
                                            <label class="editable-content col-lg-12">@item.StreetName</label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.Label("Building Name", new { @class = "col-lg-6 control-label" })
                                        <div class="col-lg-6">
                                            <label class="editable-content col-lg-12">@item.BuildingName</label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.Label("Plot No", new { @class = "col-lg-6 control-label" })
                                        <div class="col-lg-6">
                                            <label class="editable-content col-lg-12">@item.PlotNumber</label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.Label("IsEnabled", new { @class = "col-lg-6 control-label" })
                                        <div class="col-lg-6">
                                            <label class="editable-content col-lg-12"> @msg</label>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        }

                    }
                </div>
            </fieldset>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="">
                <button type="button" value="Back" class="btn btn-cancel" id="btncancel" onclick="location.href='@Url.Action("RegistrationLog","DocumentManagement")'">Back</button>
            </div>
        </div>
    </div>
</div>